<div class="container mt-0">
    <div class="row text-center">
        <div class="col-9 offset-2 alert alert-info fw-semibold mb-4" role="alert">
            Nota: Guarda la oferta académica por semestre
        </div>
    </div>
    

    <div class="row mb-3 p-3">
        <div class="col offset-1" id="col_tabs">
            <ul class="nav nav-underline">
                <li class="nav-item">
                    <a class="nav-link link-dark" aria-current="page" href="#">Materias seleccionadas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-dark active" href="/oferta_academica/<%= cicloActual %>/agregar" onclick="changeTabs('hola')">Agregar materias</a>
                </li>
        </div>
        Versión de Plan:
        <div class="col-auto">
            <select class="form-select" id="planVersion" aria-label="Plan de Estudios">
                <option value="7">7</option>
                <option value="8">8</option>
            </select>
        </div>
        <div class="col-auto justify-content-end">

            
            <nav class="search-nav">
                <div class="container-fluid">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Materia" aria-label="Search" />
                        <button class="btn btn-outline-success" type="submit">
                            Buscar
                        </button>
                    </form>
                </div>
            </nav> 
        </div>
        
        </ul>
        <br></br>
    </div>
    <div class="container mt-5">
    <div class="row">

        <div class="col-md-1 me-5">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <p class="fs-4 mb-3 text-center fw-semibold">Semestre:</p>
            <button class="nav-link active" id="v-pills-1-tab" data-bs-toggle="pill" data-bs-target="#v-pills-1" type="button" role="tab" aria-controls="v-pills-1" aria-selected="true">1</button>
            <button class="nav-link" id="v-pills-2-tab" data-bs-toggle="pill" data-bs-target="#v-pills-2" type="button" role="tab" aria-controls="v-pills-2" aria-selected="false">2</button>
            <button class="nav-link" id="v-pills-3-tab" data-bs-toggle="pill" data-bs-target="#v-pills-3" type="button" role="tab" aria-controls="v-pills-3" aria-selected="false">3</button>
            <button class="nav-link" id="v-pills-4-tab" data-bs-toggle="pill" data-bs-target="#v-pills-4" type="button" role="tab" aria-controls="v-pills-4" aria-selected="false">4</button>
            <button class="nav-link" id="v-pills-5-tab" data-bs-toggle="pill" data-bs-target="#v-pills-5" type="button" role="tab" aria-controls="v-pills-5" aria-selected="false">5</button>
            <button class="nav-link" id="v-pills-6-tab" data-bs-toggle="pill" data-bs-target="#v-pills-6" type="button" role="tab" aria-controls="v-pills-6" aria-selected="false">6</button>
            <button class="nav-link" id="v-pills-7-tab" data-bs-toggle="pill" data-bs-target="#v-pills-7" type="button" role="tab" aria-controls="v-pills-7" aria-selected="false">7</button>
            <button class="nav-link" id="v-pills-8-tab" data-bs-toggle="pill" data-bs-target="#v-pills-8" type="button" role="tab" aria-controls="v-pills-8" aria-selected="false">8</button>
            <button class="nav-link" id="v-pills-9-tab" data-bs-toggle="pill" data-bs-target="#v-pills-9" type="button" role="tab" aria-controls="v-pills-9" aria-selected="false">9</button>
            </div>
        </div>


      <div class="col-md-10">
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-1-tab" tabindex="0">
            <div class="row">
                <% 
                let count = 0; 
                for (let i = 0; i < materias.length; i++) {
                const materia = materias[i];
                if ((materia.plans[0].status == 'active') &&
                    (materia.plans_courses[0].semester == 1) //&&(materia.plans[0].id == getPlanVersion())
                ) {
                    if (count % 4 === 0) { %>
                    </div><div class="row">
                <% } %>
                <div class="col-sm-6 col-md-3 mb-4"> 
                <div class="card" style="width: 100%;">
                    <img src="/images/95404c.png" class="card-img-top" alt="color" height="150" />
                    <div class="card-body">
                    <h5 class="card-title"><%= materia.name %> <%= materia.plans[0].id %></h5>
                    <div class="row">
                        <div class="col text-start">
                        <button class="btn" data-bs-toggle="popover" data-bs-title="Especificaciones" data-bs-placement="bottom" data-bs-content="Créditos: <%= materia.credits %>">
                            <i class="bi bi-info-circle"></i>
                        </button>
                        </div>
                        <div class="col text-end">
                        <a class="btn btn-primary btn-sm edit-btn" href="/inicio">
                            <i class="bi bi-plus-lg"></i>
                        </a>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            <% count++; } } %>
                        </div><div class="row"></div>
          </div>
          <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-2-tab" tabindex="0">
            <div class="row">
                <% 
                let count2 = 0; 
                for (let i = 0; i < materias.length; i++) {
                const materia = materias[i];
                if (materia.plans[0].status == 'active' &&
                    materia.plans_courses[0].semester == 2
                ) {
                    if (count2 % 4 === 0) { %>
                    </div><div class="row">
                <% } %>
                <div class="col-sm-6 col-md-3 mb-4"> 
                <div class="card" style="width: 100%;">
                    <img src="/images/95404c.png" class="card-img-top" alt="color" height="150" />
                    <div class="card-body">
                    <h5 class="card-title"><%= materia.name %> <%= materia.plans[0].id %></h5>
                    <div class="row">
                        <div class="col text-start">
                        <button class="btn" data-bs-toggle="popover" data-bs-title="Especificaciones" data-bs-placement="bottom" data-bs-content="Créditos: <%= materia.credits %>">
                            <i class="bi bi-info-circle"></i>
                        </button>
                        </div>
                        <div class="col text-end">
                        <a class="btn btn-primary btn-sm edit-btn" href="/inicio">
                            <i class="bi bi-plus-lg"></i>
                        </a>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            <% count2++; } } %>
                        </div><div class="row"></div>
          </div>
          <div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-3-tab" tabindex="0">
            <div class="row">
                <% 
                let count3 = 0; 
                for (let i = 0; i < materias.length; i++) {
                const materia = materias[i];
                if (materia.plans[0].status == 'active' &&
                    materia.plans_courses[0].semester == 3
                ) {
                    if (count3 % 4 === 0) { %>
                    </div><div class="row">
                <% } %>
                <div class="col-sm-6 col-md-3 mb-4"> 
                <div class="card" style="width: 100%;">
                    <img src="/images/95404c.png" class="card-img-top" alt="color" height="150" />
                    <div class="card-body">
                    <h5 class="card-title"><%= materia.name %> <%= materia.plans[0].id %></h5>
                    <div class="row">
                        <div class="col text-start">
                        <button class="btn" data-bs-toggle="popover" data-bs-title="Especificaciones" data-bs-placement="bottom" data-bs-content="Créditos: <%= materia.credits %>">
                            <i class="bi bi-info-circle"></i>
                        </button>
                        </div>
                        <div class="col text-end">
                        <a class="btn btn-primary btn-sm edit-btn" href="/inicio">
                            <i class="bi bi-plus-lg"></i>
                        </a>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            <% count3++; } } %>
                        </div><div class="row"></div>
          </div>
          <div class="tab-pane fade" id="v-pills-4" role="tabpanel" aria-labelledby="v-pills-4-tab" tabindex="0">
            <div class="row">
                <% 
                let count4 = 0; 
                for (let i = 0; i < materias.length; i++) {
                const materia = materias[i];
                if (materia.plans[0].status == 'active' &&
                    materia.plans_courses[0].semester == 4
                ) {
                    if (count4 % 4 === 0) { %>
                    </div><div class="row">
                <% } %>
                <div class="col-sm-6 col-md-3 mb-4"> 
                <div class="card" style="width: 100%;">
                    <img src="/images/95404c.png" class="card-img-top" alt="color" height="150" />
                    <div class="card-body">
                    <h5 class="card-title"><%= materia.name %> <%= materia.plans[0].id %></h5>
                    <div class="row">
                        <div class="col text-start">
                        <button class="btn" data-bs-toggle="popover" data-bs-title="Especificaciones" data-bs-placement="bottom" data-bs-content="Créditos: <%= materia.credits %>">
                            <i class="bi bi-info-circle"></i>
                        </button>
                        </div>
                        <div class="col text-end">
                        <a class="btn btn-primary btn-sm edit-btn" href="/inicio">
                            <i class="bi bi-plus-lg"></i>
                        </a>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            <% count4++; } } %>
                        </div><div class="row"></div>
          </div>
          <div class="tab-pane fade" id="v-pills-5" role="tabpanel" aria-labelledby="v-pills-5-tab" tabindex="0">
            <div class="row">
                <% 
                let count5 = 0; 
                for (let i = 0; i < materias.length; i++) {
                const materia = materias[i];
                if (materia.plans[0].status == 'active' &&
                    materia.plans_courses[0].semester == 5
                ) {
                    if (count5 % 4 === 0) { %>
                    </div><div class="row">
                <% } %>
                <div class="col-sm-6 col-md-3 mb-4"> 
                <div class="card" style="width: 100%;">
                    <img src="/images/95404c.png" class="card-img-top" alt="color" height="150" />
                    <div class="card-body">
                    <h5 class="card-title"><%= materia.name %> <%= materia.plans[0].id %></h5>
                    <div class="row">
                        <div class="col text-start">
                        <button class="btn" data-bs-toggle="popover" data-bs-title="Especificaciones" data-bs-placement="bottom" data-bs-content="Créditos: <%= materia.credits %>">
                            <i class="bi bi-info-circle"></i>
                        </button>
                        </div>
                        <div class="col text-end">
                        <a class="btn btn-primary btn-sm edit-btn" href="/inicio">
                            <i class="bi bi-plus-lg"></i>
                        </a>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            <% count5++; } } %>
                        </div><div class="row"></div>
          </div>
          <div class="tab-pane fade" id="v-pills-6" role="tabpanel" aria-labelledby="v-pills-6-tab" tabindex="0">
            <div class="row">
                <% 
                let count6 = 0; 
                for (let i = 0; i < materias.length; i++) {
                const materia = materias[i];
                if (materia.plans[0].status == 'active' &&
                    materia.plans_courses[0].semester == 6
                ) {
                    if (count6 % 4 === 0) { %>
                    </div><div class="row">
                <% } %>
                <div class="col-sm-6 col-md-3 mb-4"> 
                <div class="card" style="width: 100%;">
                    <img src="/images/95404c.png" class="card-img-top" alt="color" height="150" />
                    <div class="card-body">
                    <h5 class="card-title"><%= materia.name %> <%= materia.plans[0].id %></h5>
                    <div class="row">
                        <div class="col text-start">
                        <button class="btn" data-bs-toggle="popover" data-bs-title="Especificaciones" data-bs-placement="bottom" data-bs-content="Créditos: <%= materia.credits %>">
                            <i class="bi bi-info-circle"></i>
                        </button>
                        </div>
                        <div class="col text-end">
                        <a class="btn btn-primary btn-sm edit-btn" href="/inicio">
                            <i class="bi bi-plus-lg"></i>
                        </a>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            <% count6++; } } %>
                        </div><div class="row"></div>
          </div>
          <div class="tab-pane fade" id="v-pills-7" role="tabpanel" aria-labelledby="v-pills-7-tab" tabindex="0">
            <div class="row">
                <% 
                let count7 = 0; 
                for (let i = 0; i < materias.length; i++) {
                const materia = materias[i];
                if (materia.plans[0].status == 'active' &&
                    materia.plans_courses[0].semester == 7
                ) {
                    if (count7 % 4 === 0) { %>
                    </div><div class="row">
                <% } %>
                <div class="col-sm-6 col-md-3 mb-4"> 
                <div class="card" style="width: 100%;">
                    <img src="/images/95404c.png" class="card-img-top" alt="color" height="150" />
                    <div class="card-body">
                    <h5 class="card-title"><%= materia.name %> <%= materia.plans[0].id %></h5>
                    <div class="row">
                        <div class="col text-start">
                        <button class="btn" data-bs-toggle="popover" data-bs-title="Especificaciones" data-bs-placement="bottom" data-bs-content="Créditos: <%= materia.credits %>">
                            <i class="bi bi-info-circle"></i>
                        </button>
                        </div>
                        <div class="col text-end">
                        <a class="btn btn-primary btn-sm edit-btn" href="/inicio">
                            <i class="bi bi-plus-lg"></i>
                        </a>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            <% count7++; } } %>

            </div><div class="row"></div>
          </div>
          <div class="tab-pane fade" id="v-pills-8" role="tabpanel" aria-labelledby="v-pills-8-tab" tabindex="0">
            <div class="row">
                <% 
                let count8 = 0; 
                for (let i = 0; i < materias.length; i++) {
                const materia = materias[i];
                if (materia.plans[0].status == 'active' &&
                    materia.plans_courses[0].semester == 8
                ) {
                    if (count8 % 4 === 0) { %>
                    </div><div class="row">
                <% } %>
                <div class="col-sm-6 col-md-3 mb-4"> 
                <div class="card" style="width: 100%;">
                    <img src="/images/95404c.png" class="card-img-top" alt="color" height="150" />
                    <div class="card-body">
                    <h5 class="card-title"><%= materia.name %> <%= materia.plans[0].id %></h5>
                    <div class="row">
                        <div class="col text-start">
                        <button class="btn" data-bs-toggle="popover" data-bs-title="Especificaciones" data-bs-placement="bottom" data-bs-content="Créditos: <%= materia.credits %>">
                            <i class="bi bi-info-circle"></i>
                        </button>
                        </div>
                        <div class="col text-end">
                        <a class="btn btn-primary btn-sm edit-btn" href="/inicio">
                            <i class="bi bi-plus-lg"></i>
                        </a>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            <% count8++; } } %>
                        </div><div class="row"></div>
          </div>
          <div class="tab-pane fade" id="v-pills-9" role="tabpanel" aria-labelledby="v-pills-9-tab" tabindex="0">
            <div class="row">
                <% 
                let count9 = 0; 
                for (let i = 0; i < materias.length; i++) {
                const materia = materias[i];
                if (materia.plans[0].status == 'active' &&
                    materia.plans_courses[0].semester == 9
                ) {
                    if (count9 % 4 === 0) { %>
                    </div><div class="row">
                <% } %>
                <div class="col-sm-6 col-md-3 mb-4"> 
                <div class="card" style="width: 100%;">
                    <img src="/images/95404c.png" class="card-img-top" alt="color" height="150" />
                    <div class="card-body">
                    <h5 class="card-title"><%= materia.name %> <%= materia.plans[0].id %></h5>
                    <div class="row">
                        <div class="col text-start">
                        <button class="btn" data-bs-toggle="popover" data-bs-title="Especificaciones" data-bs-placement="bottom" data-bs-content="Créditos: <%= materia.credits %>">
                            <i class="bi bi-info-circle"></i>
                        </button>
                        </div>
                        <div class="col text-end">
                        <a class="btn btn-primary btn-sm edit-btn" href="/inicio">
                            <i class="bi bi-plus-lg"></i>
                        </a>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            <% count9++; } } %>
            </div><div class="row"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="row mt-3 mb-4">
        <div class="col-auto offset-9">
            <button class="btn btn-outline-dark">Añadir todas</button>
        </div>
        <div class="col">
            <button class="btn btn-primary" onclick="getPlanVersion()">Enviar</button>
        </div>
    </div>
</div>


<script src="/js/scriptIVD.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>