<div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
        <h3 class="text-center mt-5">Materias</h3>
  
        <% if (grupos && grupos.length > 0) { %>
          <% const colores = ['bg-primary', 'bg-success', 'bg-warning', 'bg-danger', 'bg-info', 'bg-secondary', 'bg-dark'];
          const materiasColor = {};
          let colorIndex = 0;

          grupos.forEach(grupo => {
            const nombre = grupo.materia.nombre;
            if (!materiasColor[nombre]) {
              materiasColor[nombre] = colores[colorIndex % colores.length];
              colorIndex++;
            }
          });
        %>
          <% grupos.forEach((grupo, index) => { %>
            <!-- Tarjeta de la materia -->
            <div class="card m-3">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title"><%= grupo.materia.nombre %></h5>
                    <p class="card-text">Profesor <%= grupo.profesor.nombre %></p>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal<%= index %>">
                      Ver más
                    </button>
                  </div>
                  <% const color = materiasColor[grupo.materia.nombre] || 'bg-light'; %>
                  <div class="col-1 <%= color %> rounded-start"></div>
                </div>
              </div>
            </div>
  
            <!-- Modal de detalles -->
            <div class="modal fade" id="modal<%= index %>" tabindex="-1" aria-labelledby="modalLabel<%= index %>" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalLabel<%= index %>"><%= grupo.materia.nombre %></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <dl class="row">
                        <dt class="col-sm-9">Nombre de Profesor:</dt>
                        <dd class="col-sm-9"><%= grupo.profesor.nombre %></dd>
                      
                        <dt class="col-sm-9">Salón:</dt>
                        <dd class="col-sm-9"><%= grupo.salon.id %></dd>
                      
                        <dt class="col-sm-9">Horario:</dt>
                        <dd class="col-sm-9">
                          <ul class="list-group list-group-flush">
                            <% if (grupo.lunesInicio && grupo.lunesFin) { %>
                              <li class="list-group-item">Lunes: <%= grupo.lunesInicio %> - <%= grupo.lunesFin %></li>
                            <% } %>
                            <% if (grupo.martesInicio && grupo.martesFin) { %>
                              <li class="list-group-item">Martes: <%= grupo.martesInicio %> - <%= grupo.martesFin %></li>
                            <% } %>
                            <% if (grupo.miercolesInicio && grupo.miercolesFin) { %>
                              <li class="list-group-item">Miercoles: <%= grupo.miercolesInicio %> - <%= grupo.miercolesFin %></li>
                            <% } %>
                            <% if (grupo.juevesInicio && grupo.juevesFin) { %>
                              <li class="list-group-item">Jueves: <%= grupo.juevesInicio %> - <%= grupo.juevesFin %></li>
                            <% } %>
                            <% if (grupo.viernesInicio && grupo.viernesFin) { %>
                              <li class="list-group-item">Viernes: <%= grupo.viernesInicio %> - <%= grupo.viernesFin %></li>
                            <% } %>
                          </ul>
                        </dd>
                      </dl>
                      
  
                    <!-- Botones de acción -->
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalEliminar<%= index %>">
                      Eliminar Materia
                    </button>
  
                    <br><br>
  
                    <input class="btn btn-primary btn-cambiar-materia" type="button" value="Cambiar materia" data-form-id="formulario<%= index %>">
  
                    <!-- Formulario de cambio -->
                    <form id="formulario<%= index %>" class="form-cambio-materia" style="display: none;">
                      <div class="mb-3">
                        <label for="materia<%= index %>" class="form-label">Materia por la que se solicita cambiar:</label>
                        <input type="text" class="form-control input-materia" id="materia<%= index %>" required>
                        <div class="form-text">Se enviará la información a coordinadores, esperar respuesta.</div>
                      </div>
                      <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Aceptar</button>
                  </div>
                </div>
              </div>
            </div>
  
            <!-- Modal de Confirmación -->
            <div class="modal fade" id="modalEliminar<%= index %>" tabindex="-1" aria-labelledby="modalEliminarLabel<%= index %>" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="modalEliminarLabel<%= index %>">Confirmar Eliminación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    ¿Estás seguro de que quieres eliminar la materia <strong><%= grupo.materia.nombre %></strong> de tu horario?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger">Eliminar</button>
                  </div>
                </div>
              </div>
            </div>
          <% }) %>
        <% } else { %>
          <p class="text-center">No estás inscrito en ningún grupo.</p>
        <% } %>
      </div>
    </div>
  </div>
  
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      let botones = document.querySelectorAll(".btn-cambiar-materia");
  
      botones.forEach(boton => {
        boton.addEventListener("click", function () {
          let formId = this.getAttribute("data-form-id");
          let formulario = document.getElementById(formId);
          formulario.style.display = (formulario.style.display === "none" || formulario.style.display === "") 
            ? "block" : "none";
        });
      });
    });
  </script>
  