<body>
        <br />
        <div class="container-fluid">
            <button class="btn btn-primary material-symbols-outlined" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
                menu
            </button>
        </div>
        

        <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
            aria-labelledby="offcanvasWithBothOptionsLabel">
            <div class="offcanvas-header">
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body d-flex flex-column p-0">
                <div class="btn-group-vertical w-100 rounded-0" role="group" aria-label="Menú de navegación vertical">
                    <a href="/inicio/<%=ciclosEscolares[0].idCicloEscolar %>" class="btn btn-outline-danger w-100 rounded-0 fs-2">Inicio</a>
                    <a href="/oferta_academica/<%=ciclosEscolares[0].idCicloEscolar %>" class="btn btn-outline-danger w-100 rounded-0 fs-2">Oferta Académica</a>
                    <a href="/maestros/<%=ciclosEscolares[0].idCicloEscolar %>" class="btn btn-outline-danger w-100 rounded-0 fs-2">Maestros</a>
                    <a href="/planes/<%=ciclosEscolares[0].idCicloEscolar %>" class="btn btn-outline-danger w-100 rounded-0 fs-2">Planes</a>
                    <a href="/materias/<%=ciclosEscolares[0].idCicloEscolar %>" class="btn btn-outline-danger w-100 rounded-0 fs-2">Materias</a>
                    <a href="/alumnos/<%=ciclosEscolares[0].idCicloEscolar %>" class="btn btn-outline-danger w-100 rounded-0 fs-2">Alumnos</a>
                </div>

                <div class="flex-grow-1"></div>

                <div class="w-100">
                    <a href="/users/logout" class="btn btn-outline-danger w-100 rounded-0 fs-2">Salir</a>
                </div>
            </div>
        </div>